@import url("https://fonts.googleapis.com/css?family=Montserrat|Nunito+Sans");

$main-bg: #121212;
$primary-dark: #1a1a1a;
$light-dark: rgb(143, 143, 143);
$secondary-font: "Montserrat", sans-serif;
$main-font: "Nunito Sans", sans-serif;
$primary-blue: #379ae6;

@import "header";
@import "showcase";
@import "about";
@import "projects";
@import "skills";
@import "contact";

html,
body,
#root,
.App {
  height: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

figure {
  margin: 0;
  display: inline;
}

body {
  background: $main-bg;
  font-family: $main-font;
  color: #fff;
  line-height: 1.4;
  margin: 0;
}

.main-container {
  display: grid;
  justify-items: center;
}

footer {
  display: flex;
  justify-content: center;
  height: 125px;
  background: darken($primary-blue, 3);
  border-top: 0.5px solid rgba(white, 0.3);
  width: 100%;
  .inner-footer-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    .back-to-top {
      margin-top: -50px;
      z-index: 99;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
      svg {
        -webkit-filter: drop-shadow(-1px -1px 1px #000);
        filter: drop-shadow(-1px -1px 1px #000);
      }
    }
    h1 {
      font-family: $secondary-font;
      letter-spacing: 1.7px;
    }

    .copyright {
      color: $primary-dark;
    }
  }
}

// UI

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba($primary-dark, 0.5);
  z-index: 888;
  overflow-x: hidden;
}

.grid-overlay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  overflow: hidden;

  .col {
    height: 100%;
    border-right: 0.5px solid rgba(white, 0.2);
  }
  .col:nth-of-type(4) {
    border-right: none;
  }
}

.loading-container {
  width: 120px;
  height: 100px;

  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .loading-dot {
    width: 25px;
    height: 25px;
    background: lighten($light-dark, 15);
    border-radius: 50%;
    animation: jumping 0.8s linear infinite;
  }
}

.loading-dot:nth-child(1) {
  animation-delay: 0.7s;
}
.loading-dot:nth-child(2) {
  animation-delay: 0.3s;
}

@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@import "mobile";
